<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abs104a.mperwithsideproject"

    android:versionCode="184"
    android:versionName="0.5.1" >


    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETINGS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:killAfterRestore="true"
        android:persistent="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.abs104a.mperwithsideproject.music.MusicPlayerReceiver">
        	<intent-filter>
                <action android:name="com.abs104a.mperwithsideproject.play" />
                <action android:name="com.abs104a.mperwithsideproject.previous" />
                <action android:name="com.abs104a.mperwithsideproject.next" />
                <action android:name="com.abs104a.mperwithsideproject.main" />
            </intent-filter>    
        </receiver>
        
        <activity
            android:name="com.abs104a.mperwithsideproject.MainActivity"
            android:label="@string/app_name" >

            <!-- MainClass -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 音楽リストを選択するActivity -->
        <activity
            android:name="com.abs104a.mperwithsideproject.MusicListActivity"
            android:label="@string/app_name" />
        
        <!-- アプリの設定を変更するActivity -->
        <activity
            android:name="com.abs104a.mperwithsideproject.settings.SettingsActivity"
            android:label="@string/app_name" />

        <service android:name="com.abs104a.mperwithsideproject.MainService" />
        <service android:name="com.abs104a.mperwithsideproject.PlayerService" android:process=":music" />
    </application>

</manifest>